# Node modules
node_modules
cadEnv
npm-debug.log

# Dependency directories
dist
build

# Logs
logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# IDE/Editor settings
.vscode
.idea
